<nav class="navbar navbar-expand-lg bg-body-tertiary mx-5">
  <div class="container-fluid px-5 mx-5">
    <a class="navbar-brand font-weight-bold text-white" href="#">RailINDIA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link font-weight-bold text-white" href="/">Home</a>
        <a class="nav-link font-weight-bold text-white" href="/book">Booking</a>
        <a class="nav-link font-weight-bold text-white" href="/login">Login/Register</a>
        <a class="nav-link font-weight-bold text-white" href="/logout">Logout</a>
      </div>
    </div>  
  </div>
</nav>

<!-- <script src="https://cdn.jsdelivr.net/npm/annyang@2.6.1/dist/annyang.min.js"></script> -->

  